.navbar-custom {
	background-color:#0c4569;
    color:#ffffff;
  	border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  	color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #33aa33;
}

.navbar-custom .navbar-brand {
  	color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  	background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  	background-color:#33aa33;
}

.navbar-two{
    min-height: 10px;
}

.navbar-two .div {
	min-height: 10px;
}
.tab-green{
    background-color: #6c9f2e;
}
.tab-blue{
	background-color:#1f79ac;
}
.tab-darkblue{
	background-color:#0c4569;
}
.tab-orange{
	background-color:#ff7800;
}
.tab-red{
	background-color:#b5121b;
}
.tab-purple{
	background-color:#551387;
}
